<div class="container mt-5 text-center text-light">
  <h1>About Y</h1>
  <p class="lead">Minimalist messaging app</p>

  <p>
    Y is a simple and minimal Twitter clone created as part of a Ruby on Rails project.
    It lets users send one-to-one messages with clean design and real-time communication features.
  </p>
</div>

